.grid {
    padding-top: 40px;
    display: grid;
    width: 100%;
    max-width: 750px;
    margin:  auto;
    grid: repeat(4, 1fr);
    grid-gap: 20px;
  }


#m1 {
    background-color: darkred;
    width: 25%;
    height: 100px;
    grid-column: 1 / 4;
  grid-row: 1;
}

#m2 {
    background-color: rgb(60, 191, 201);
    width: 40%;
    height: 100px;
    grid-column: 2 / 4;
  grid-row: 1;
}

#m3 {
    background-color: rgb(60, 192, 122);
    width: 80%;
    height: 100px;
    grid-column: 3 /4 ;
  grid-row: 1;
}
#m4 {
    background-color: rgb(144, 11, 144);
    width: 80%;
    height: 100px;
    grid-column: 4 / 4;
  grid-row: 1;
}

#m5 {
    background-color: orangered;
    width: 25%;
    height: 30px;
    grid-column: 1 / 4;
    grid-row: 2;
}

#m6 {
    background-color: rgb(32, 98, 184);
    width: 80%;
    height: 30px;
    grid-column: 4 / 4;
}

#m7 {
    background-color: rgb(214, 78, 78);
    width: 80%;
    height: 40px;
}

#m8 {
    background-color: rgb(67, 201, 62);
    width: 80%;
    height: 40px;
    grid-column: 3 / 4;
}

#m9 {
    background-color: rgb(25, 48, 149);
    width: 80%;
    height: 40px; 
}  